body {
  background-color: #afffe5;
}
#title {
  color: red;
  font-family: Tahoma;
  text-align: left;
  display: inline;
}
#header-list {
  text-align: right;
  float: right;
  display: inline;
}
#scratch {
  margin: 10px;
}
#scratch-picture-link {
 background-image: url("Scratch_logo.png"); 
}
.inline {
  display: inline;
}
#myTopnav {
  box-shadow: 5px 5px 10px lightslategrey;
}
