* {
  border: solid 1px black;
}
body {
  background-color: #afffe5;
}
#title {
  color: red;
  font-family: Tahoma;
  text-align: left;
  display: inline;
}
#header-list {
  text-align: right;
  float: right;
  display: inline;
}
